.icon-details {
    background-image: url(../img/icons8-menu-50.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}
.icon-delete {
    background-image: url(../img/icons8-delete-50.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}
.icon-edit {
    background-image: url(../img/icons8-edit-50.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}