@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We collect data about you. Below is a list of data we collect.</p>
<ul>
    <li>Address</li>
    <li>Name</li>
    <li>Family</li>
    <li>Browser history</li>
    <li>Bank details</li>
    <li>Workplace</li>
    <li>Emails</li>
    <li>Eboks letters</li>
    <li>Pictures of you</li>
    <li>Social security number</li>
</ul>
<p>We use your data for monetization, please do not resist.</p>
<p>If we discover any wrongthink opinions you may have, we will be forced to deploy a field agent to monitor you closely.</p>